openapi: 3.0.0
info:
  description: |-
    This is the majority of the API requests including some that are not documented.

    http://www.bamboohr.com/api/documentation/
  license:
    name: MIT
    url: http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT
  title: BambooHR API
  version: v1
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-uses-multipart-form-data: true
servers:
- url: https://api.bamboohr.com/api/gateway.php
security:
- auth: []
- basic: []
tags:
- name: Benefits
- name: Goals
- name: Time Tracking
- name: Time Off
- name: Payroll
- name: Training
- name: Applicant Tracking
- name: Time Tracking - Private Beta
- name: Tabular Data
- name: Webhooks
- name: Employee Files
- name: Company Files
- name: Account Information
- name: Hours
- name: Employees
- name: Reports
- name: Photos
- name: Last Change Information
- name: Login
paths:
  /{companyDomain}/v1/employees/directory:
    get:
      description: Gets employee directory.
      operationId: Employees_getDirectory
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeesGetDirectoryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/EmployeesGetDirectory200Response'
          description: List of employees
        "403":
          description: if the directory has not been shared company-wide.
      summary: Get Employee Directory
      tags:
      - Employees
      x-unitTests:
      - request:
          method: GET
          uri: /employees/directory
          headers:
            Authorization: "Basic {{apiKey}}"
            Accept: application/json
            Content-Type: application/xml
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "SDD: Get Employees (BAD)"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-employees-directory
      x-accepts: application/json
  /{companyDomain}/v1/employees/files/categories:
    post:
      description: Add an employee file category.
      operationId: EmployeeFiles_addCategory
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewEmployeeFileCategory'
        required: true
      responses:
        "201":
          description: The category was created
        "400":
          description: if the posted XML is invalid or there was no category name
            given.
        "403":
          description: if the API user does not have permission to create employee
            categories.
        "500":
          description: there was an unknown server error.
      summary: Add Employee File Category
      tags:
      - Employee Files
      x-unitTests:
      - request:
          method: POST
          uri: /employees/files/categories
          headers:
            Authorization: "Basic {{apiKey}}"
            Accept: application/json
            Content-Type: application/xml
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "SDD: Add Employee (BAD)"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/employees/{id}/files/{fileId}:
    delete:
      description: Delete an employee file
      operationId: EmployeeFiles_removeFile
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is an employee ID. The special employee ID of zero (0)\
          \ means to use the employee ID associated with the API key (if any)."
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: "0"
          example: "0"
          type: string
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--companyDomain-v1-employees-id-files-fileId-delete-parameters-1-schema
        style: simple
      - description: "{fileId} is the ID of the employee file being deleted."
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Employee file was deleted
        "403":
          description: if the API user does not have permission to see the requested
            employee or the employee's files.
        "404":
          description: if the employee file was not found.
      summary: Delete Employee File
      tags:
      - Employee Files
      x-unitTests:
      - request:
          method: POST
          uri: "/employees/{id}/files/{fileId}"
          headers:
            Authorization: "Basic {{apiKey}}"
            Accept: application/json
            Content-Type: application/xml
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "SDD: Add Employee (BAD)"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--companyDomain-v1-employees-id-files-fileId
      x-accepts: application/json
    get:
      description: Gets an employee file
      operationId: EmployeeFiles_getEmployeeFile
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is an employee ID. The special employee ID of zero (0)\
          \ means to use the employee ID associated with the API key (if any)."
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: "0"
          example: "0"
          type: string
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--companyDomain-v1-employees-id-files-fileId-get-parameters-1-schema
        style: simple
      - description: "{fileId} is the ID of the employee file being retrieved."
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Employee file was successfully retrieved
        "403":
          description: if the API user does not have permission to see the requested
            employee or the employee's files.
        "404":
          description: if the employee file was not found.
      summary: Get an Employee File
      tags:
      - Employee Files
      x-unitTests:
      - request:
          method: POST
          uri: "/employees/{id}/files/{fileId}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "SDD: Add Employee (BAD)"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-employees-id-files-fileId
      x-accepts: application/json
    post:
      description: Update an employee file
      operationId: EmployeeFiles_updateEmployeeFile
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is an employee ID. The special employee ID of zero (0)\
          \ means to use the employee ID associated with the API key (if any)."
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: "0"
          example: "0"
          type: string
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--companyDomain-v1-employees-id-files-fileId-post-parameters-1-schema
        style: simple
      - description: "{fileId} is the ID of the employee file being updated."
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeFileUpdate'
        required: true
      responses:
        "200":
          description: The employee file was updated
        "400":
          description: Invalid JSON
        "403":
          description: if the API user does not have permission to see the requested
            employee or the employee's files.
        "404":
          description: if the employee file or category was not found.
      summary: Update Employee File
      tags:
      - Employee Files
      x-unitTests:
      - request:
          method: POST
          uri: "/employees/{id}/files/{fileId}"
          headers:
            Authorization: "Basic {{apiKey}}"
            Accept: application/json
            Content-Type: application/xml
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "SDD: Add Employee (BAD)"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-v1-employees-id-files-fileId
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/employees/{id}/files:
    post:
      description: Upload an employee file
      operationId: EmployeeFiles_uploadFile
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is an employee ID. The special employee ID of zero (0)\
          \ means to use the employee ID associated with the API key (if any)."
        explode: false
        in: path
        name: id
        required: true
        schema:
          default: "0"
          example: "0"
          type: string
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--companyDomain-v1-employees-id-files-post-parameters-1-schema
        style: simple
      responses:
        "201":
          description: The employee file was successfully uploaded
        "403":
          description: if the API user does not have permission to see the requested
            employee or the employee's files.
        "404":
          description: if the category ID was not found.
        "413":
          description: if the file size exceeds 20MB or the storage limit for the
            company.
      summary: Upload Employee File
      tags:
      - Employee Files
      x-unitTests:
      - request:
          method: POST
          uri: "/employees/{id}/files"
          headers:
            Authorization: "Basic {{apiKey}}"
            Content-Type: multipart/form-data
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "SDD: Add Employee (BAD)"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-v1-employees-id-files
      x-accepts: application/json
  /{companyDomain}/v1/files/categories:
    post:
      description: Add a company file category.
      operationId: CompanyFiles_createCategory
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCompanyFileCategory'
        required: true
      responses:
        "201":
          description: The category was created
        "400":
          description: if the posted JSON is invalid or there was no category name
            given.
        "403":
          description: if the API user does not have permission to see the company
            files.
        "500":
          description: there was an unknown server error.
      summary: Add Company File Category
      tags:
      - Company Files
      x-unitTests:
      - request:
          method: POST
          uri: /files/categories
          headers:
            Authorization: "Basic {{apiKey}}"
            Accept: application/json
            Content-Type: application/xml
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "SDD: Add Employee (BAD)"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/files/{fileId}:
    delete:
      description: Delete a company file
      operationId: CompanyFiles_removeFile
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{fileId} is the ID of the company file being deleted."
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Company file was deleted
        "403":
          description: if the API user does not have permission to see the requested
            file.
        "404":
          description: if the file was not found.
      summary: Delete Company File
      tags:
      - Company Files
      x-unitTests:
      - request:
          method: POST
          uri: "/files/{fileId}"
          headers:
            Authorization: "Basic {{apiKey}}"
            Accept: application/json
            Content-Type: application/xml
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "SDD: Add Employee (BAD)"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--companyDomain-v1-files-fileId
      x-accepts: application/json
    get:
      description: Gets an company file
      operationId: CompanyFiles_getFile
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{fileId} is the ID of the company file being retrieved."
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Company file was successfully retrieved
        "403":
          description: if the API user does not have permission to see the company
            files.
        "404":
          description: if the file was not found.
      summary: Get an Company File
      tags:
      - Company Files
      x-unitTests:
      - request:
          method: POST
          uri: "/files/{fileId}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "SDD: Add Employee (BAD)"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-files-fileId
      x-accepts: application/json
    post:
      description: Update a company file
      operationId: CompanyFiles_updateFile
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{fileId} is the ID of the employee file being updated."
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyFileUpdate'
        required: true
      responses:
        "200":
          description: The employee file was updated
        "400":
          description: if the posted JSON is invalid.
        "403":
          description: if the API user does not have permission to see the company
            files.
        "404":
          description: if the file or category was not found.
      summary: Update Company File
      tags:
      - Company Files
      x-unitTests:
      - request:
          method: POST
          uri: "/files/{fileId}"
          headers:
            Authorization: "Basic {{apiKey}}"
            Accept: application/json
            Content-Type: application/xml
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "SDD: Add Employee (BAD)"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-v1-files-fileId
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/files:
    post:
      description: Upload a company file
      operationId: CompanyFiles_uploadFile
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          description: The company file was successfully uploaded
        "403":
          description: if the API user does not have permission to see the company
            files.
        "404":
          description: if the category ID was not found.
        "413":
          description: if the file size exceeds 20MB or the storage limit for the
            company.
      summary: Upload Company File
      tags:
      - Company Files
      x-unitTests:
      - request:
          method: POST
          uri: /files
          headers:
            Authorization: "Basic {{apiKey}}"
            Content-Type: multipart/form-data
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "SDD: Add Employee (BAD)"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-v1-files
      x-accepts: application/json
  /{companyDomain}/v1/reports/{id}:
    get:
      description: "Use this resource to request one of your existing custom company\
        \ reports from the My Reports or Manage Reports sections in the Reports tab.\
        \ You can get the report number by hovering over the report name and noting\
        \ the ID from the URL. At present, only reports from the My Reports or Manage\
        \ Reports sections are supported. In the future we may implement reports from\
        \ the Standard Reports section if there is enough demand for it. The report\
        \ numbers used in this request are different in each company."
      operationId: Reports_companyReport
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is a report ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "The output format for the report. Supported formats: CSV, PDF,\
          \ XLS, XML, JSON"
        explode: true
        in: query
        name: format
        required: true
        schema:
          type: string
        style: form
      - description: "yes=apply standard duplicate field filtering, no=return the\
          \ raw results with no duplicate filtering. Default value is \"yes\""
        explode: true
        in: query
        name: fd
        required: false
        schema:
          type: string
        style: form
      - description: Setting to false will return future dated values from history
          table fields.
        explode: true
        in: query
        name: onlyCurrent
        required: false
        schema:
          default: true
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--companyDomain-v1-reports-id-get-parameters-4-schema
        style: form
      responses:
        "200":
          description: All fields available in BambooHR.
        "404":
          description: if you request a nonexistent report number.
      summary: Get company report
      tags:
      - Reports
      x-unitTests:
      - request:
          method: GET
          uri: "/reports/{id}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Metadata: Get a List of Fields"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-reports-id
      x-accepts: application/json
  /{companyDomain}/v1/reports/custom:
    post:
      description: "Use this resource to request BambooHR generate a report. You must\
        \ specify a type of either \"PDF\", \"XLS\", \"CSV\", \"JSON\", or \"XML\"\
        . You must specify a list of fields to show on the report. The list of fields\
        \ is available here. The custom report will return employees regardless of\
        \ their status, \"Active\" or \"Inactive\". This differs from the UI, which\
        \ by default applies a quick filter to display only \"Active\" employees."
      operationId: Reports_requestCustomReport
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "The output format for the report. Supported formats: CSV, PDF,\
          \ XLS, XML, JSON"
        explode: true
        in: query
        name: format
        required: true
        schema:
          type: string
        style: form
      - description: Limits the report to only current employees. Setting to false
          will include future-dated employees in the report.
        explode: true
        in: query
        name: onlyCurrent
        required: false
        schema:
          default: true
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--companyDomain-v1-reports-custom-post-parameters-2-schema
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCustomReport'
        required: true
      responses:
        "200":
          description: Custom report successfully requested
      summary: Request a custom report
      tags:
      - Reports
      x-unitTests:
      - request:
          method: POST
          uri: /files
          headers:
            Authorization: "Basic {{apiKey}}"
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "SDD: Add Employee (BAD)"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-v1-reports-custom
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/employees/{id}/tables/{table}:
    get:
      description: Returns a data structure representing all the table rows for a
        given employee and table combination. The result is not sorted in any particular
        order.
      operationId: TabularData_getEmployeeTableRows
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is the employee ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Table name
        explode: false
        in: path
        name: table
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
      summary: Gets table rows for a given employee and table combination
      tags:
      - Tabular Data
      x-unitTests:
      - request:
          method: GET
          uri: "/employees/{id}/tables/{table}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Metadata: Get a List of Fields"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-employees-id-tables-table
      x-accepts: application/json
    post:
      description: "Adds a table row. If employee is currently on a pay schedule syncing\
        \ with Trax Payroll, or being added to one, the row cannot be added if they\
        \ are missing any required fields for that table. If the API user is adding\
        \ a row on the compensation table, the row cannot be added if they are missing\
        \ any of the required employee fields (including fields not on that table)."
      operationId: TabularData_addTableRow
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is the employee ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Table name
        explode: false
        in: path
        name: table
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TableRowUpdate'
      responses:
        "200":
          description: Row added successfully.
        "400":
          description: Invalid or missing required fields.
        "403":
          description: Permission denied.
        "406":
          description: An error with one or more of the fields.
      summary: Adds a table row
      tags:
      - Tabular Data
      x-unitTests:
      - request:
          method: POST
          uri: "/employees/{id}/tables/{table}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Metadata: Get a List of Fields"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-v1-employees-id-tables-table
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/employees/{id}/tables/{table}/{rowId}:
    delete:
      description: Deletes a table row
      operationId: TabularData_deleteRow
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is the employee ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Table name
        explode: false
        in: path
        name: table
        required: true
        schema:
          type: string
        style: simple
      - description: Row ID
        explode: false
        in: path
        name: rowId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TabularDataDeleteRowResponse'
          description: "Respond true if the row was deleted, false if the row was\
            \ not found."
        "400":
          description: Bad request. Invalid employee ID or table name.
        "401":
          description: Unauthorized.
        "403":
          description: Permission denied.
      summary: Deletes a table row
      tags:
      - Tabular Data
      x-unitTests:
      - request:
          method: DELETE
          uri: "/employees/{id}/tables/{table}/{rowId}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Delete Table Row
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--companyDomain-v1-employees-id-tables-table-rowId
      x-accepts: application/json
    post:
      description: "Updates a table row. If employee is currently on a pay schedule\
        \ syncing with Trax Payroll, or being added to one, the row cannot be added\
        \ if they are missing any required fields for that table. If the API user\
        \ is updating a row on the compensation table, the row cannot be updated if\
        \ they are missing any of the required employee fields (including fields not\
        \ on that table)."
      operationId: TabularData_updateRow
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is the employee ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Table name
        explode: false
        in: path
        name: table
        required: true
        schema:
          type: string
        style: simple
      - description: Row ID
        explode: false
        in: path
        name: rowId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TableRowUpdate'
      responses:
        "200":
          description: A successful response is possible even if one or more updates
            were dis-allowed because of permissions. As long as a single field is
            updated a 200 response will be returned.
        "400":
          description: Invalid or missing required fields.
        "403":
          description: Permission denied.
        "406":
          description: An error with one or more of the fields.
      summary: Updates a table row.
      tags:
      - Tabular Data
      x-unitTests:
      - request:
          method: POST
          uri: "/employees/{id}/tables/{table}/{rowId}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Metadata: Get a List of Fields"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-v1-employees-id-tables-table-rowId
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1_1/employees/{id}/tables/{table}/{rowId}:
    post:
      description: "Updates a table row. Fundamentally the same as version 1 so choose\
        \ a version and stay with it unless other changes occur. Changes from version\
        \ 1 are now minor with a few variations limited to ACA, payroll, terminated\
        \ rehire, gusto, benetrac, and final pay date."
      operationId: TabularData_updateRow
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is the employee ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Table name
        explode: false
        in: path
        name: table
        required: true
        schema:
          type: string
        style: simple
      - description: Row ID
        explode: false
        in: path
        name: rowId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TableRowUpdate'
      responses:
        "200":
          description: A successful response is possible even if one or more updates
            were dis-allowed because of permissions. As long as a single field is
            updated a 200 response will be returned.
        "400":
          description: Invalid or missing required fields.
        "403":
          description: Permission denied.
        "406":
          description: An error with one or more of the fields.
      summary: Updates a table row.
      tags:
      - Tabular Data
      x-unitTests:
      - request:
          method: POST
          uri: "/employees/{id}/tables/{table}/{rowId}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Metadata: Get a List of Fields"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-v1_1-employees-id-tables-table-rowId
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1_1/employees/{id}/tables/{table}:
    post:
      description: "Adds a table row. Fundamentally the same as version 1 so choose\
        \ a version and stay with it unless other changes occur. Changes from version\
        \ 1 are now minor with a few variations limited to ACA, payroll, terminated\
        \ rehire, gusto, benetrac, and final pay date."
      operationId: TabularData_addRow
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is the employee ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Table name
        explode: false
        in: path
        name: table
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TableRowUpdate'
      responses:
        "200":
          description: ""
      summary: Adds a table row
      tags:
      - Tabular Data
      x-unitTests:
      - request:
          method: POST
          uri: "/employees/{id}/tables/{table}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Metadata: Get a List of Fields"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-v1_1-employees-id-tables-table
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/employees/changed/tables/{table}:
    get:
      description: "This API is merely an optimization to avoid downloading all table\
        \ data for all employees. When you use this API you will provide a timestamp\
        \ and the results will be limited to just the employees that have changed\
        \ since the time you provided. This API operates on an employee-last-changed-timestamp,\
        \ which means that a change in ANY field in the employee record will cause\
        \ ALL of that employees table rows to show up via this API."
      operationId: TabularData_getChangedTableRows
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: Table name
        explode: false
        in: path
        name: table
        required: true
        schema:
          type: string
        style: simple
      - description: URL encoded iso8601 timestamp
        explode: true
        in: query
        name: since
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Gets all updated employee table data
      tags:
      - Tabular Data
      x-unitTests:
      - request:
          method: POST
          uri: "/employees/changed/tables/{table}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Metadata: Get a List of Fields"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-employees-changed-tables-table
      x-accepts: application/json
  /{companyDomain}/v1/meta/lists/{listFieldId}:
    put:
      description: "This resource accepts one or more options. To update an option,\
        \ specify an ID. You may also remove an option from the list of current values\
        \ by archiving the value. To create a new option, do not specify an \"id\"\
        \ attribute."
      operationId: AccountInformation_updateListFieldValues
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: listFieldId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFieldValues'
        required: true
      responses:
        "200":
          description: A successful response indicates that all the requested changes
            were made. The content of the response will be the full list of options
            for the specified listId.
        "400":
          description: The posted JSON is invalid.
        "403":
          description: List is not editable or insufficient permissions.
        "404":
          description: A non-existant list value or option ID is specified.
        "409":
          description: A duplicate list value conflicted with the value specified.
      summary: Add or Update Values for List Fields
      tags:
      - Account Information
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-v1-meta-lists-listFieldId
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/employees/{employeeId}/time_off/request:
    put:
      description: "A time off request is an entity that describes the decision making\
        \ process for approving time off. Once a request has been created, a history\
        \ entry can be created documenting the actual use of time off."
      operationId: TimeOff_requestCreation
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeOffRequest'
        required: true
      responses:
        "201":
          description: Request created.
        "400":
          description: Malformed request.
        "403":
          description: Forbidden. Cannot change past approved requests.
        "404":
          description: Employee not found
      summary: Add a Time Off Request
      tags:
      - Time Off
      x-unitTests:
      - request:
          method: PUT
          uri: "/employees/{employeeId}/time_off/request"
          headers:
            Authorization: "Basic {{apiKey}}"
            Content-Type: text/xml
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Time Off: Add a Time Off Request"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-v1-employees-employeeId-time_off-request
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/time_off/requests/{requestId}/status:
    put:
      description: "This endpoint allows you to change the status of a request in\
        \ the system. You can use this to approve, deny, or cancel a time off request."
      operationId: TimeOff_changeRequestStatus
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request'
        required: true
      responses:
        "200":
          description: The status has been updated.
        "400":
          description: "If the posted XML is invalid or the status is not \"approved\"\
            , \"denied\", \"canceled\", or \"declined\"."
        "403":
          description: If the current user doesn't have access to change the status
            in this way.
        "404":
          description: If the time off request ID doesn't exist.
      summary: Change a Request Status
      tags:
      - Time Off
      x-unitTests:
      - request:
          method: PUT
          uri: "/time_off/requests/{timeOffRequestId}/status"
          headers:
            Authorization: "Basic {{apiKey}}"
            Content-Type: text/xml
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Time Off: Change a Request Status"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-v1-time_off-requests-requestId-status
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/employees/{employeeId}/time_off/policies:
    get:
      description: ""
      operationId: TimeOff_listEmployeeTimeOffPolicies
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
      summary: List Time Off Policies for Employee
      tags:
      - Time Off
      x-unitTests:
      - request:
          method: GET
          uri: "/employees{employeeId}/time_off/policies"
          headers:
            Authorization: "Basic {{apiKey}}"
            Accept: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Time Off: List Time Off Policies for Employee"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-employees-employeeId-time_off-policies
      x-accepts: application/json
    put:
      description: "To use this API make an HTTP PUT where the body of the request\
        \ is the JSON documented below. A time off policy will be assigned to the\
        \ employee with accruals starting on the date specified. A null start date\
        \ will remove the assignment. On success, a 200 Success code is returned and\
        \ the content of the response will be the same as the List Time off Policies\
        \ API."
      operationId: TimeOff_assignEmployeePolicies
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TimeOffPolicies'
      responses:
        "200":
          description: ""
      summary: Assign Time Off Policies for an Employee
      tags:
      - Time Off
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1_1/employees/{employeeId}/time_off/policies:
    get:
      description: ""
      operationId: TimeOff_listEmployeePolicies
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
      summary: "List Time Off Policies for Employee, Version 1.1"
      tags:
      - Time Off
      x-unitTests:
      - request:
          method: GET
          uri: "/employees{employeeId}/time_off/policies"
          headers:
            Authorization: "Basic {{apiKey}}"
            Accept: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Time Off: List Time Off Policies for Employee"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1_1-employees-employeeId-time_off-policies
      x-accepts: application/json
    put:
      description: "To use this API make an HTTP PUT where the body of the request\
        \ is the JSON documented below. A time off policy will be assigned to the\
        \ employee with accruals starting on the date specified. On success, a 200\
        \ Success code is returned and the content of the response will be the same\
        \ as the List Time off Policies API."
      operationId: TimeOff_assignEmployeePoliciesV11
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TimeOffPolicies'
      responses:
        "200":
          description: ""
      summary: "Assign Time Off Policies for an Employee, Version 1.1"
      tags:
      - Time Off
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/employees/{employeeId}/time_off/calculator:
    get:
      description: "This endpoint will sum future time off accruals, scheduled time\
        \ off, and carry-over events to produce estimates for the anticipated time\
        \ off balance on a given date in the future."
      operationId: TimeOff_estimateFutureTimeOffBalances
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: ""
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
      summary: Estimate Future Time Off Balances
      tags:
      - Time Off
      x-unitTests:
      - request:
          method: GET
          uri: "/employees/{{employeeId}}/time_off/calculator?end=2017-12-01"
          headers:
            Authorization: "Basic {{apiKey}}"
            Accept: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Time Off: Estimate Future Time Off Balances"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-employees-employeeId-time_off-calculator
      x-accepts: application/json
  /{companyDomain}/v1/employees/{employeeId}/photo/{size}:
    get:
      description: Get an employee photo
      operationId: Photos_getEmployeePhoto
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The ID for the employee you are getting the photo for.
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      - description: Photo size
        explode: false
        in: path
        name: size
        required: true
        schema:
          enum:
          - original
          - large
          - medium
          - xs
          - tiny
          type: string
        style: simple
      responses:
        "200":
          description: ""
      summary: Get an employee photo
      tags:
      - Photos
      x-unitTests:
      - request:
          method: GET
          uri: "/employees/{employeeId}/photo/small"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Time Off:  Get a list of Who's Out"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-employees-employeeId-photo-size
      x-accepts: application/json
  /{companyDomain}/v1/employees/{employeeId}/photo:
    post:
      description: Store a new employee photo
      operationId: Photos_storeNewEmployeePhoto
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: The ID for the employee you are setting the photo for.
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          description: The file was successfully uploaded
        "404":
          description: if the employee doesn't exist
        "413":
          description: if the file is too big.
        "415":
          description: if the file is not in a supported file format or if the width
            doesn't match the height.
      summary: Store a new employee photo
      tags:
      - Photos
      x-unitTests:
      - request:
          method: POST
          uri: /files
          headers:
            Authorization: "Basic {{apiKey}}"
            Content-Type: multipart/form-data
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "SDD: Add Employee (BAD)"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-v1-employees-employeeId-photo
      x-accepts: application/json
  /{companyDomain}/v1/employees/changed:
    get:
      description: "This API allows for efficient syncing of employee data. When you\
        \ use this API you will provide a timestamp and the results will be limited\
        \ to just the employees that have changed since the time you provided. This\
        \ API operates on an employee-last-changed-timestamp, which means that a change\
        \ in ANY individual field in the employee record, as well as any change to\
        \ the employment status, job info, or compensation tables, will cause that\
        \ employee to be returned via this API."
      operationId: LastChangeInformation_getChangedEmployeeIds
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: URL encoded iso8601 timestamp
        explode: true
        in: query
        name: since
        required: true
        schema:
          type: string
        style: form
      - description: "Use one of these in the {type} variable in the URL: \"inserted\"\
          , \"updated\", \"deleted\""
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Gets all updated employee IDs
      tags:
      - Last Change Information
      x-unitTests:
      - request:
          method: POST
          uri: /employees/changed
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Metadata: Get a List of Fields"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-employees-changed
      x-accepts: application/json
  /{companyDomain}/v1/login:
    post:
      description: User Login
      operationId: Login_userCredentials
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Login'
        required: true
      responses:
        "200":
          description: ""
      summary: User Login
      tags:
      - Login
      x-unitTests:
      - request:
          method: POST
          uri: "/employees/{id}/tables/{table}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Metadata: Get a List of Fields"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-v1-login
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /{companyDomain}/v1/benefits/settings/deduction_types/all:
    get:
      description: Get benefit deduction types
      operationId: Benefits_getDeductionTypesAll
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
      summary: Get benefit deduction types
      tags:
      - Benefits
      x-unitTests:
      - request:
          method: GET
          uri: /benefits/settings/deduction_types/all
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Time Off:  Get a list of Who's Out"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-benefits-settings-deduction_types-all
      x-accepts: application/json
  /{companyDomain}/v1/benefit/company_benefit:
    get:
      description: Get a list of company benefits
      operationId: Benefits_listCompanyBenefits
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitsListCompanyBenefitsResponse'
          description: List of company benefits.
      summary: Get a list of company benefits
      tags:
      - Benefits
      x-unitTests:
      - request:
          method: GET
          uri: /benefit/company_benefit
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "HE: Get List of benefit deductions"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-benefit-company_benefit
      x-accepts: application/json
    post:
      description: Add a new company benefit
      operationId: Benefits_addNewCompanyBenefit
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BenefitsAddNewCompanyBenefitRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBenefitResponse'
          description: The newly created company benefit.
      summary: Add a new company benefit
      tags:
      - Benefits
      x-unitTests:
      - request:
          method: POST
          uri: /benefit/company_benefit
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "HE: Add New Company Benefit"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-v1-benefit-company_benefit
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /{companyDomain}/v1/benefit/company_benefit/{id}:
    delete:
      description: Delete a company benefit
      operationId: Benefits_deleteCompanyBenefit
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is the company benefit ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successfully deleted company benefit.
      summary: Delete a company benefit
      tags:
      - Benefits
      x-unitTests:
      - request:
          method: DELETE
          uri: "/benefit/company_benefit/{id}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "HE: Delete a Company Benefit"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--companyDomain-v1-benefit-company_benefit-id
      x-accepts: application/json
    get:
      description: Get a company benefit
      operationId: Benefits_getCompanyBenefit
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is the company benefit ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBenefitResponse'
          description: The requested company benefit.
      summary: Get a company benefit
      tags:
      - Benefits
      x-unitTests:
      - request:
          method: GET
          uri: "/benefit/company_benefit/{id}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "HE: Get a Company Benefit"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-benefit-company_benefit-id
      x-accepts: application/json
    put:
      description: Update a company benefit
      operationId: Benefits_updateCompanyBenefit
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is the company benefit ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenefitsUpdateCompanyBenefitRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBenefitResponse'
          description: The updated company benefit.
      summary: Update a company benefit
      tags:
      - Benefits
      x-unitTests:
      - request:
          method: PUT
          uri: "/benefit/company_benefit/{id}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "HE: Update a Company Benefit"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-v1-benefit-company_benefit-id
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/benefit/company_benefit/type:
    get:
      description: Get a list of company benefit types
      operationId: Benefits_listCompanyBenefitTypes
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitsListCompanyBenefitTypesResponse'
          description: List of company benefit types.
      summary: Get a list of company benefit types
      tags:
      - Benefits
      x-unitTests:
      - request:
          method: GET
          uri: /benefit/company_benefit/type
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "HE: Get a list of Company Benefit Types"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-benefit-company_benefit-type
      x-accepts: application/json
  /{companyDomain}/v1/benefit/employee_benefit:
    get:
      description: Get a list of employee benefits
      operationId: Benefits_listEmployeeBenefits
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeBenefitFilters'
        description: Employee Benefit Filters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitsListEmployeeBenefitsResponse'
          description: List of employee benefits.
      summary: Get a list of employee benefits
      tags:
      - Benefits
      x-unitTests:
      - request:
          method: GET
          uri: /benefit/employee_benefit
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "HE: Get a list of Employee Benefits"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-benefit-employee_benefit
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: Add an employee benefit
      operationId: Benefits_addEmployeeBenefit
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenefitsAddEmployeeBenefitRequest'
        description: Employee Benefit
        required: true
      responses:
        "200":
          description: Employee benefit created
      summary: Add an employee benefit
      tags:
      - Benefits
      x-unitTests:
      - request:
          method: POST
          uri: /benefit/employee_benefit
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "HE: Add an Employee Benefit"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companyDomain-v1-benefit-employee_benefit
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/benefitcoverages:
    get:
      description: Get benefit coverages
      operationId: Benefits_getCoverages
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
      summary: Get benefit coverages
      tags:
      - Benefits
      x-unitTests:
      - request:
          method: GET
          uri: /benefitcoverages
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Time Off:  Get a list of Who's Out"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-benefitcoverages
      x-accepts: application/json
  /{companyDomain}/v1/employeedependents/{id}:
    get:
      description: Get employee dependent
      operationId: Benefits_getEmployeeDependent
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is the employee dependent ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
      summary: Get employee dependent
      tags:
      - Benefits
      x-unitTests:
      - request:
          method: GET
          uri: "/employeedependents/{id}"
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Time Off:  Get a list of Who's Out"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-employeedependents-id
      x-accepts: application/json
    put:
      description: This API allows you to change the information for a given dependent
        ID.
      operationId: Benefits_updateDependentInformation
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{id} is the employee dependent ID."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/EmployeeDependent'
      responses:
        "201":
          description: Dependent updated
        "400":
          description: if the posted JSON is invalid
        "403":
          description: if the current user doesn't have access to change the dependent
            in this way.
        "500":
          description: Server error.
      summary: Update an employee dependent
      tags:
      - Benefits
      x-unitTests:
      - request:
          method: PUT
          uri: "/employeedependents/{id}"
          headers:
            Authorization: "Basic {{apiKey}}"
            Content-Type: application/json
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Time Off: Add a Time Off Request"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--companyDomain-v1-employeedependents-id
      x-content-type: application/json
      x-accepts: application/json
  /{companyDomain}/v1/employeedependents:
    get:
      description: Get all employee dependents
      operationId: Benefits_listEmployeeDependents
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      - description: "{employeeid} is the employee ID. Supplying this ID limits the\
          \ response to the specific employee."
        explode: true
        in: query
        name: employeeid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: Get all employee dependents
      tags:
      - Benefits
      x-unitTests:
      - request:
          method: GET
          uri: /employeedependents
          headers:
            Authorization: "Basic {{apiKey}}"
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: NONE
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers: {}
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: "Time Off:  Get a list of Who's Out"
        x-testDescription: "TODO: Add Description"
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companyDomain-v1-employeedependents
      x-accepts: application/json
    post:
      description: Adds an employee dependent
      operationId: Benefits_createEmployeeDependent
      parameters:
      - description: "The subdomain used to access BambooHR. If you access BambooHR\
          \ at https://mycompany.bamboohr.com, then the companyDomain is \"mycompany\""
        explode: false
        in: path
        name: companyDomain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/EmployeeDependent'
      responses:
        "200":
          description: Dependent added
        "400":
          description: if the posted JSON is invalid
[...]
